@define-mixin atSmall{
	@media(min-width: 530px){
		@mixin-content;
	}
}

@define-mixin atMedium{
	@media(min-width: 800px){
		@mixin-content;
	}
}

@define-mixin atLarge{
	@media(min-width: 1010px){
		@mixin-content;
	}
}

/* creates a bit of empty content to clear the float status for all following content */
@define-mixin clearFix{
	&::after {/* resulting code: current_context::after {}*/
		content: ""; /* empty content */
		clear: both; /* the clear */
		display: table; /* for browser cross-compatability */
	}
}
