.social-icons {
	text-align: center;

	&__icon {
		background-color: $mainOrange;
		display: inline-block;
		margin: 0 5px 5px 5px;
		width: 33%; /*make icons same width*/
		height: 72px; /*make icons same height*/
		position: relative; /*needed for .icon position: absolute to work? */


		@mixin atSmall {
			margin: 0 5px;
			width: 72px; /*make icons same width*/
		}

		.icon {
			display: block; /* needed for icon to show */
			/*center icons in container*/
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
